@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'busstop/stopinfo/stopinfo.less';
@import 'error/error.less';
@import 'main/main.less';
@import 'makedonation/makedonation.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
// endinjector
