<div ng-controller="StopinfoCtrl">
  <h1 class="page-header bus-stop-header">Choose a bus stop</h1>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-9">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
          <ui-gmap-markers models="markers" coords="'coords'" idkey="'idKey'">        </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
      <div class="col-sm-3 form-group">
        <!--  <label for="stopSelection" class="form-group">Make a choice:</label> -->
        <select name="stopSelection" id="stopSelection" class="form-control" ng-init="selectedBusStop"
                ng-options="option.name for option in busStops track by option.stopId"
                ng-change="onSelectionUpdate()"
                ng-model="selectedBusStop">
          <!--<option value="" ng-selected="selected">Make a choice</option>-->
        </select>
        <hr class="divider">

        <label for="donation-progress" class="text-info total-donation"> Total Donation: {{selectedBusStop.donationsRaisedInDollars}} / {{max}}$ </label>
        <uib-progressbar id="donation-progress" max="max" value="selectedBusStop.donationsRaisedInDollars"><span style="color:white; white-space:nowrap;">{{selectedBusStop.donationsRaisedInDollars}} / {{max}}</span></uib-progressbar>

        <hr class="divider">
      </div>
      <div class="col-sm-3">

        <div class="alert alert-info"> Top Donations </div>
        <div class="help-block">
          <uib-alert class="error-template" type="danger" ng-show="dataError">There was an error retrieving donation data.</uib-alert>
        </div>
        <table class="table table-sm table-striped">
          <tbody>
          <tr ng-repeat="item in topDonations">
            <td>{{item.name}}</td>
            <td>{{item.amount}}$</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row content">
      <br/>
    </div>

  </div>
</div>
<hr class="divider">
