<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello!</h1>
    <p class="lead">Your bus stop needs some help</p>
    <img src="assets/images/busStopIcon.png" alt="Hello!">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div ng-show="!dataError">
        <div stopinfo></div>
        <div makedon> </div>
      </div>

      <div ng-show="!!dataError">
        <hr class="divider">
        <div error></div>
      </div>

    </div>
  </div>
</div>
