<h1 class="donation-header">Make a donation</h1>
<hr class="divider">
<form  ng-controller="makedonation" name="myform" class="form form-horizontal" novalidate>
  <div class="form-group">
    <rzslider id="inputPaymentAmount" rz-slider-model="slider.value"
              rz-slider-options="slider.options"></rzslider>
  </div>

  <div ng-class="{'form-group': true, 'has-error':myform.username.$invalid}">
    <label for="inputUsername" class="control-label">Username:</label>
    <div class="controls" >
      <input type="text" class="form-control" placeholder="Leave blank for Anonymous" id="inputUsername" ng-model="donator.name" name="username" ng-maxlength="16" ng-pattern="/^[a-zA-Z0-9]*$/"/>
      <div class="help-block">
        <span class="error" ng-show="myform.username.$error.maxlength">Your username is too long</span>
        <span class="error" ng-show="myform.username.$error.pattern">Invalid characters</span>
      </div>
      <!--<input slide-toggle="#ccform" type="text" class="form-control" placeholder="Leave blank for Anonymous" id="inputUsername" ng-model="donator.name" valid-username />-->
    </div>
  </div>

  <div ng-class="{'form-group': true, 'has-error':myform.email.$invalid ||(donator.name != '' && myform.username.$dirty && donator.email == '')}">
    <label for="inputEmail" class="control-label">Email:</label>
      <input type="email" name="email" class="form-control" placeholder="Email" id="inputEmail" ng-model="donator.email" />
      <div class="help-block">
        <span ng-show="donator.name != '' && myform.username.$dirty && donator.email == ''">Email is Required for non-anonymous donations.</span>
        <span ng-show="!myform.email.$valid && myform.username.$dirty && myform.email.$dirty">Invalid email</span>
      </div>

  </div>

  <div>
    <div ng-class="{'form-group': true, 'has-error':!myform.ccNumber.$valid && myform.ccNumber.$dirty}">
      <label for="cardNumber">Card Number</label>
      <input type="text" class="form-control" placeholder="Credit Card No" id="cardNumber" cc-number name="ccNumber" ng-model="donator.card.number">
      <div class="help-block">
        <span ng-show="!myform.ccNumber.$valid && myform.ccNumber.$dirty">Invalid Card Number</span>
      </div>
    </div>
    <div ng-class="{'form-group': true, 'has-error':!myform.ccCvc.$valid && myform.ccCvc.$dirty}">
      <label for="cvc">CVC</label>
      <input placeholder="CVC" type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="donator.card.cvc">
      <div class="help-block">
        <span ng-show="!myform.ccCvc.$valid && myform.ccCvc.$dirty">Invalid CVC</span>
      </div>
    </div>
    <div ng-class="{'form-group': true}">
      <label for="cardNumber">Expiration</label>
      <div class="help-block">
        <span ng-show="myform.$error.ccExp && (myform.ccExpMonth.$dirty || myform.ccExpYear.$dirty)">Invalid Expiration Date</span>
      </div>
      <div  ng-class="{'form-group': true, 'has-error':!myform.ccExpMonth.$valid && myform.ccExpMonth.$dirty}" class="row" cc-exp>
        <div class="col-xs-3">
          <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="donator.card.month">
          <div class="help-block">
            <span ng-show="!myform.ccExpMonth.$valid && myform.ccExpMonth.$dirty">Invalid Month</span>
          </div>
        </div>
        <div class="col-xs-3">
          <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="donator.card.year">
          <div class="help-block">
            <span ng-show="!myform.ccExpYear.$valid && myform.ccExpYear.$dirty">Invalid Year</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-class="{'form-group': true}" >

      <input ng-disabled="formHasErrors() || isProcessing" type="submit" class="btn btn-primary donate-button" value={{texts.donateButton}} ng-click="donate()" />
      <uib-alert class="donate-alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closePaymentAlert($index)" >{{alert.msg}}</uib-alert>

    </div>
  </div>

  </form>
